@import "../../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

#about {
    padding-top: 200px !important;
}

#project {
    padding-top: 40px !important;
}

.font-pr {
    font-family: "Poppins";
    font-weight: 400;
}

.font-pm {
    font-family: "Poppins";
    font-weight: 500;
}

.font-psb {
    font-family: "Poppins";
    font-weight: 600;
}

.font-pb {
    font-family: "Poppins";
    font-weight: 700;
}

.font-peb {
    font-family: "Poppins";
    font-weight: 800;
}

.font-pbl {
    font-family: "Poppins";
    font-weight: 900;
}

.bg-first {
    background-color: #646FD4;
}

.bg-second {
    background-color: #9BA3EB;
}

.bg-third {
    background-color: #242F9B;
}

.bg-fourth {
    background-color: #DBDFFD;
}

.text-first {
    color: #DBDFFD;
}

.text-second {
    color: #242F9B;
}

.text-third {
    color: #9BA3EB;
}

.top-buffer { 
    margin-top: 10em;
}

.fs-55 {
    font-size: 18px;
}

#home-h3 {
    margin-bottom: 10em;
}

#about {
    padding-top: 6rem;
}

#about-row {
    margin-bottom: 5em;
}

.fa-color {
    border-color: #646FD4 !important;
}

.fa-color:hover {
    background-color: #646FD4;
    color: white;
}

.fa-solid {
    font-family: FontAwesome !important;
}

.btn-primary {
    --bs-btn-bg: #242F9B;
    --bs-btn-hover-bg: #{shade-color(#242F9B, 10%)};
    --bs-btn-border-color: var(--bd-violet);
}