.item img {
    height: 170px;
}

.carousel-wrapper {
    padding: 0 50px;
}

.owl-prev {
    position: absolute;
    top: 40%;
    left: 30px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    position: absolute;
    top: 40%;
    right: 30px;
    display: block !important;
    border:0px solid black;
}

.owl-prev i, .owl-next i {
    transform : scale(2.3,2.3); 
    color: #9BA3EB;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.owl-prev i:hover, .owl-next i:hover {
    background-color: #242F9B;
    opacity: 1;
}
